.elementor-kit-8{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-1358cb8:#1A1A1A;--e-global-color-15b9593:#F36B21;--e-global-color-e51d2b5:#F4FCFF;--e-global-color-a039cd3:#E1502A;--e-global-color-41afa41:#F4F4F2;--e-global-color-677c331:#3D3D3D;--e-global-typography-primary-font-family:"twk";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"twk";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"twk";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"twk";--e-global-typography-accent-font-weight:500;font-family:"twk", Sans-serif;}.elementor-kit-8 a{font-family:"twk", Sans-serif;}.elementor-kit-8 h1{font-family:"twk", Sans-serif;}.elementor-kit-8 h2{font-family:"twk", Sans-serif;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-8 e-page-transition{background-color:#FFBC7D;}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'twk';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2023/04/TWKEverett-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'twk';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../../2023/04/TWKEverett-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'twk';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2023/04/TWKEverett-Super.ttf') format('truetype');
}
@font-face {
	font-family: 'twk';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2023/04/TWKEverett-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'twk';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2023/04/TWKEverett-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'twk';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../../2023/04/TWKEverett-Bold.ttf') format('truetype');
}
/* End Custom Fonts CSS */